%div{:class => suggestion_type}
  %form.suggestion-form{:action => "/#{@dilemma.id}/#{suggestion_type}_suggestions", :method => "post"}						
    -@dilemma.suggestions.each do |s|
      - s.errors.each do |e|
        = e
    %p    
      %h3
        =suggester_title
        %input.input{:name => "by", :style=>"width:70px", :id=> "#{suggestion_type}_by"} 
        says:
      %textarea{:class=>"input countdown limit_140_", :name => "text", :id=> "#{suggestion_type}_text", :rows => 3, :cols => 19}
      %br      
      %span.remaining 
      %br
      %button{:class => button, :type=>"submit"}= "#{suggestion_type} suggestion!"
  
  .suggestions
    -@dilemma.send("#{suggestion_type}_suggestions").each do |e|  
      %div{:class=>"box-#{box}"}
        ="#{suggester_title} <strong>#{e.by}</strong> says:"
        %h4= e.text
