.dilemma  
  .text= @dilemma.text
  .asks
    %h3< 
      ="asks <strong>#{@dilemma.by}</strong>" 
      
.good
  %form{:action => "/#{@dilemma.id}/good_suggestions", :method => "post"}						
    %h3
      Angel
      %input#by.input{:style=>"width:70px"} 
      says:
    %textarea#text.input
    %button.button{:type=>"submit"} Good Suggestion!
    
  .suggestions
    -@dilemma.good_suggestions.each do |e|  
      .box
        ="Angel <strong>#{e.by}</strong> says:"
        %h4= e.text

.evil
  %form{:action => "/#{@dilemma.id}/evil_suggestions", :method => "post"}						
    %h3
      Devil
      %input.input{:name => 'by', :style=>"width:70px"} 
      says:
    %textarea.input{:name=> 'text'}
    %button.button{:class=>"negative", :type=>"submit"} Evil Suggestion!
    
  .suggestions
    -@dilemma.evil_suggestions.each do |e|  
      .box-red
        ="Devil <strong>#{e.by}</strong> says:"
        %h4= e.text
             